*
!genome
!scripts
!scripts/*
scripts/.snakemake*
!scripts
!Snakefile
!config.yaml
!samples.txt
!envs
!envs/*
!env.yaml
!LICENSE
!README.md
!Notes.md
!Homework.md
!reads
!rules
!rules/*
!.gitignore
.Rproj.user
